server:
    port: 8081

spring:
    devtools:
        add-properties: true
    profiles:
        active: prod
    main:
        allow-circular-references: true
        allow-bean-definition-overriding: true
    sql:
        init:
            encoding: UTF-8
            mode: ALWAYS
    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:teste
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: /h2
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: create
        properties: 
            hibernate:
                show_sql: true
                format_sql: true
# This property will register an OpenEntityManagerInViewInterceptor, which 
# registers an EntityManager to the current thread, so you will have the same 
# EntityManager until the web request is finished
# see: https://stackoverflow.com/questions/30549489/what-is-this-spring-jpa-open-in-view-true-property-in-spring-boot
        open-in-view: true
        defer-datasource-initialization: true
## MULTIPART (MultipartProperties)
# Enable multipart uploads
    servlet:
        multipart:
            enabled: true
            file-size-threshold: 2KB
            max-file-size: 200MB
            max-request-size: 215MB

# SMTP Mail configuration
    mail:
        host: smtp.gmail.com
        port: 587
        username: sw.beneficios.eventuais@gmail.com
        password: cscectcchlfbxtzf
        test-connection: true
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    ssl:
                        enable: false

# Software default configuration
rpas:
    jwt:
        secret: YOt7Nk5a6di17yh5p8ctxgx5fDWp16g1RhZ9Ut4oYNEu9NA5Q7WaRXDIsgWf2qdFqfjEXlqcNleT7BDa0eJun1x2qXnM6sRgeg0CebUa7iaftHMxn7OaIgqaZgFFsoMaghZ4s6XMEWxf8mEdiyDpeYeSK7v5rC7HCRi0f5V2rojrWgTYof7KKPceUnVZZlhVNFftCUjvfZBORkme3mWwbV3SHJ7P7mxPOmpFRBrzdIB6rc5AZs7b8q3xyKxJhEywqJ9VTO7uJa6PFAV7XnQ3pCmcDBu9JyShL2IVZoXKESNDaFuRqKNd1AW36sz1sxgq6K65hggUSF2WrRgxsNTKHAY4FnX9dSEtcteMMtdNk9pmz0tvWgkI97F25AVYaRNdudkljG8dPBcCVOsFdFY3owJLzaWepwjYa0uKTmfAuIGbtIKqRt9OG9sDVjuf7osQLZpGPo8eTP8Y1i0jF0wZURRpJEr0gbmVvnIkYyNXc5HG656E6QWSrLY3lodoM3Q0
        expiration: 14400000
        audience: rpas
        private.key: classpath:app.key
        public.key: classpath:app.pub
    from: no-reply@rpas.edu.br
    reset-password-token-expiration: 3600000
    reset-register-code-expiration: 3600000
    urlFrontEnd: http://localhost:7000/api